.navbar {
    background-color: rgb(37, 37, 37);
    padding: 1.5rem 0;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__link {
    color: rgb(255, 255, 65);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar__lista {
    display: flex;
}

.navbar__item {
    padding: 0 1.5rem;
    border-left: solid 2px white;
}

.navbar__item__link {
    color: white;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.navbar__item__link:hover {
    color: rgb(255, 255, 65);
    transition: .8s;
}